body{
    margin:o;
    font-family:Arial,sans-seriff ;
    background-color: #f5f5f5;
}
/*header*/
header{
    background-image:url("images/Shafa.jpg");
    height: 200px;
    background: black;
    color:white;
    text-align:center;
    padding:40px;
}
/*BIO*/
.bio{
    padding:30px;
    background:white;
    text-align:center;
}
/*features*/
.features{
    padding: 30px;
    text-align: center;
}

.feature-box{
    background: white;
    margin:15px;
    padding: 20px;
    Display:inline-black;
    width: 250px;
    border-radius:10px;
}
/*gallery*/
.gallery{
    padding: 30px;
    text-align: center;
}
.images img{
    width:200px;
    margin:10px;
    border-radius:10px;
}
/*foooter*/
.footer{
    background:blanchedalmond;
    color:aqua;
    text-align:center;
    padding: 15px;
}